.App {
  text-align: center;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {
  width: 200px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.country-card img {
  width: 100%;
  height: auto;
  max-height: 150px; /* Set a max-height for the flag image */
  object-fit: contain; /* Ensure the image fits well */
}

input, select {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-container {
  display: inline-block;
  margin: 10px;
}

.language-filter {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
